* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
#nav_ul li {
  list-style-type: none;
}
#logo img {
  width: 200px;
  height: auto;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

#nav_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link {
  padding: 10px;
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
}
#hamburger {
  display: none;
  /* display: flex; */
  align-items: center;
  cursor: pointer;
}
#hamburger i {
  font-size: 1.4rem;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}
/* Banner */
#banner {
  background-image: url("../Assets/background-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}
#create-blog-btn {
  width: 200px;
  height: 50px;
  background-color: chocolate;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  border: transparent;
}
#blog-container {
  margin-top: 50px;
  padding: 0 8%;
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: 640px;
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */
  column-gap: 80px;
  /* justify-items: center; */
  justify-content: center;
}
.box-1 {
  width: 550px;
  text-align: justify;
  margin-bottom: 60px;
  display: flex;
  align-items: end;
  /* border: 2px solid black; */
  /* position: relative; */
}
.box-1 h2 {
  margin: 15px 0;
  font-size: 2.2rem;
}
.box-1 p {
  margin: 15px 0;
  font-size: 1.3rem;
  overflow: hidden;
}
#para {
  overflow: hidden;
  height: 161px;
}
.read-btn {
  background-color: black;
  font-size: 0.9rem;
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  /* position: absolute; */
  bottom: 20px;
  align-self: end;
}
img {
  width: 400px;
  height: auto;
}
#mainBox {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.link {
  font-size: 1.3rem;
  font-weight: 520;
}
@media screen and (max-width: 1400px) {
  .box-1 h2 {
    font-size: 2rem;
  }
  #blog-container {
    padding: 0 6%;
  }
}
@media screen and (max-width: 1285px) {
  .box-1 {
    width: 500px;
  }
  .box-1 h2 {
    font-size: 2rem;
  }
  #blog-container {
    padding: 0 5%;
    grid-template-columns: 500px 500px;
    column-gap: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .box-1 {
    width: 450px;
  }
  .box-1 h2 {
    font-size: 1.9rem;
  }
  #blog-container {
    padding: 0 4%;
    grid-template-columns: 450px 450px;
    column-gap: 45px;
  }
}
@media screen and (max-width: 992px) {
  .box-1 {
    width: 400px;
  }
  .box-1 h2 {
    font-size: 1.8rem;
  }
  .box-1 p {
    font-size: 1.1rem;
  }
  #blog-container {
    padding: 0 4%;
    grid-template-columns: 400px 400px;
    column-gap: 45px;
  }
}
@media screen and (max-width: 890px) {
  .box-1 {
    width: 450px;
  }
  .box-1 h2 {
    font-size: 1.7rem;
  }
  .box-1 p {
    font-size: 1rem;
  }
  #blog-container {
    padding: 0 3.8%;
    grid-template-columns: 550px;
    place-items: center;
    /* align-items: center; */
    column-gap: 45px;
  }
}
@media screen and (max-width: 768px) {
  .link {
    font-size: 1.1rem;
  }
  #logo img {
    width: 150px;
    height: auto;
  }
  #para {
    overflow: hidden;
    height: 168px;
  }
}
@media screen and (max-width: 620px) {
  .link {
    font-size: 1rem;
  }
  #logo img {
    width: 120px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  #navbar {
    flex-direction: column;
  }
  #logo {
    text-align: center;
  }
}
@media screen and (max-width: 490px) {
  .box-1 {
    width: 350px;
  }
  .box-1 h2 {
    font-size: 1.6rem;
  }
  .box-1 p {
    font-size: 1rem;
  }
  #blog-container {
    padding: 0 4%;
    grid-template-rows: 550px;
  }
  img {
    width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 370px) {
  #navbar {
    flex-direction: column;
    padding: 0 2%;
  }
  #logo {
    text-align: center;
    margin-top: 15px;
  }
  .link {
    font-size: 1.1rem;
    padding: 0;
  }
  #nav_ul li {
    margin-bottom: 10px;
  }
  .box-1 {
    width: 320px;
  }
  .box-1 h2 {
    font-size: 1.4rem;
  }
  .box-1 p {
    font-size: 0.9rem;
  }
  #blog-container {
    padding: 0 4%;
    padding: 0 3.8%;
    grid-template-columns: 450px;
    place-items: center;
  }
  img {
    width: 290px;
    height: auto;
  }
  .link {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 350px) {
  .box-1 {
    width: 295px;
  }
  #blog-container {
    padding: 0 4%;
    padding: 0 3.8%;
    grid-template-columns: 400px;
    place-items: center;
  }
}
